.grid-container {
  display: grid;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

.grid-item {
  border: 1px solid black;
  padding: 10px;
  border: none;
}

.row2 {
  grid-column: 1 / span 3;
  font-size: 20px;
}

.row3-col1 {
  grid-column: 1;
}

.row3-col2 {
  grid-column: 2 / span 2;
}
