body {
  margin: 0;
  padding: 0;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.215);
}


.white-section {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 70%;
  background-color: white;
  z-index: 0;
}

.grey-section {
  position: absolute;
  top: 70%;
  width: 100%;
  height: 60%;
  background-color: lightgrey;
  z-index: -1;
}

.folio {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 50px;
  width: 40px;
  padding-left: 500px;
}

#folio {
  position: absolute;
  max-width: 100%;
  max-height: 100%;
  width: 60px;
  height: auto;
  padding-top: 30px;
  padding-right: 300px;
}
#dotted {
  position: absolute;
  height: 200px;
  width: 200px;
}
.hello {
  position: absolute;
  font-size: 60px;
  padding-top: 80px;
  width: 48px;
  padding-left: 350px;
}
.helloP {
  position: absolute;
  text-align: center;
  font-size: 8px;
  width: 200px;
  height: 40px;
  color: rgba(218, 162, 162, 0.566);
  letter-spacing: 1px;
  text-align: left;
}
.light {
  position: absolute;
  padding-left: 240px;
  width: 10px;
  height: 30px;
  padding-bottom: 40px;
}
.list {
  position: absolute;
  height: 100px;
  width: 100px;
  background-color: violet;
}

.italicImage {
  height: 10px;
  width: 20px;
  z-index: +1;
  position: absolute;
  padding-left: 650px;
  padding-top: 250px;
}
.images {
  display: flex;
  flex-wrap: wrap;
  padding-top: 40px;
  z-index: -1;
}

.row {
  display: flex;
}

.square-image {
  width: 80%;
  box-sizing: border-box;
}
.letter {
  color: black;
  font-size: 10px;
  text-align: center;
  padding-top: 20px;
  padding-left: 95px;
  letter-spacing: 15px;
}
.img8 {
  height: 20px;
  width: 10px;
  padding-top: 20px;
  padding-left: 150px;
}
h1 {
  color: black;
  padding-left: 440px;
  padding-top: 250px;
  font-size: 20px;
}
.bottom {
  font-size: 8px;
  text-align: center;
  width: 400px;
  padding-left: 160px;
  color: rgb(154, 129, 129);
}
.social {
  padding-left: 320px;
  letter-spacing: 5px;
  font-size: 10px;
  margin: 20px;
}
.contact {
  color: rgb(19, 121, 168);
  text-decoration: none;
}
.comunication {
  color: black;
}
.linear {
  padding-left: 170px;
  padding-top: 40px;
}
.center-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}
.telphone {
  text-decoration: none;
}

.center1 {
  text-align: center;
  font-size: 40px;
}
.hidden {
  position: absolute;
  height: 500px;
  width: 100%;
  background-color: #180d0d;
  padding: 20px;
}

.dotted1 {
  padding-left: 500px;
  position: absolute;
}
.head {
  padding-left: 150px;
  padding-top: 100px;
}
.profile {
  padding-left: 540px;
  padding-top: 70px;
  position: absolute;
}

a {
  font-size: 10px;
  color: rgb(151, 32, 32);
}
.DD {
  background-color: rgba(0, 0, 0, 0.848);
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  display: none;
}

.Tcontent {
  text-align: center;
  padding: 20px;
  padding-top: 250px;
}

.Thead2 {
  font-size: 30px;
  text-align: center;
  color: rgba(220, 220, 220, 0.744);
}

.Pcontent2 {
  text-align: center;
  padding-top: 5px;
  max-width: 600px;
  margin: 0 auto;
  color: rgba(220, 220, 220, 0.693);
}

strong {
  color: white;
}

.Pfoter2 {
  padding-top: 30px;
  color: rgba(220, 220, 220, 0.301);
}

.cv {
  color: aqua;
}

@media screen and (max-width: 768px) {
  .d21 {
    font-size: 24px;
  }
  .d31 {
    max-width: 100%;
    padding-left: 20px;
    padding-right: 20px;
  }
}
.img4 {
  padding-left: 530px;
  padding-top: 160px;
  position: absolute;
}
.arrow2 {
  padding-left: 850px;
  padding-top: 100px;
  position: absolute;
}
.light2 {
  padding-left: 400px;
  padding-top: 50px;
  position: absolute;
}
.imagesP2 {
  background-color: rgba(13, 6, 6, 0);
  width: 500px;
  height: 140px;
  padding-bottom: 40px;
  padding-left: 470px;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.shape {
  height: 10px;
  border: 1px solid rgb(0, 0, 0);
  border-radius: 10px;
}

.Pink {
  width: 125px;
  height: 3px;
  background: rgb(255, 0, 217);
}

.Yellow {
  width: 100px;
  height: 3px;
  background: yellow;
}

.Blue {
  width: 90px;
  height: 3px;
  background: blue;
}

.num {
  padding-left: 60px;
  color: rgb(255, 255, 255);
}
.paragraphT {
  color: white;
  height: 2px;
  width: 140px;
  background-color: black;
  border-radius: 8px;
}

.photoT {
  color: white;
  position: absolute;
  padding-bottom: 40px;
  padding-left: 40px;
  font-size: 10px;
}
.wordILL {
  color: white;
  position: absolute;
  padding-bottom: 40px;
  padding-left: 220px;
  font-size: 10px;
}
.shapeP3 {
  color: white;
  position: absolute;
  padding-left: 415px;
  padding-bottom: 40px;
  font-size: 10px;
}
.s,
.a,
.sa {
  font-family: "Gill Sans", "Gill Sans MT", Calibri, "Trebuchet MS", sans-serif;
}
.grid-container {
  display: grid;
  grid-template-columns: 30% auto 30%;
}

.grid-item {
  background-color: rgba(2, 0, 0, 0);
  padding-top: 20px;
  padding-bottom: 20px;
  font-size: 20px;
  color: white;
  text-align: center;
  border: none;
}

.grid-item:nth-child(1) {
  padding-left: 270px;
  text-align: center;
  border-top: 1px solid rgba(66, 51, 51, 0.71);
  border-right: 1px solid rgba(66, 51, 51, 0.71);
}

.grid-item:nth-child(2) {
  text-align: center;
  border-top: 1px solid rgba(66, 51, 51, 0.71);
}

.grid-item:nth-child(3) {
  text-align: center;
  padding-right: 270px;
  border-top: 1px solid rgba(66, 51, 51, 0.71);
  border-left: 1px solid rgba(66, 51, 51, 0.71);
}

.g1 {
  font-size: 10px;
}
.mail {
  color: aqua;
}
.cv {
  text-decoration: none;
}
.HI {
  color: #180d0d;
  font-size: 50px;
}
